In [1]:
import pyodbc
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("AutoScout_No_Outlier", index_col=[0])
df.head()

,Model,Body_Type,Price,Vat,Km,Prev_Owner,Type,Body_Color,Seat_Total,Gear_Type,...,Entertainment_Media,Extras,Safety_Security,Gears,Consumption,Hp,Emission,Upholstery_Type,Engine_Size,Age
0,Audi A1,Sedans,15770.0,VAT deductible,56013.0,2.0,Used,Black,5.0,Automatic,...,"Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Catalytic Converter,Voice Control","ABS,Central door lock,Daytime running lights,D...",5.0,3.8,66.0,99.0,Cloth,1.4,3.0
1,Audi A1,Sedans,14500.0,Price negotiable,80000.0,1.0,Used,Red,4.0,Automatic,...,"Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Sport seats,Sport suspension,Voic...","ABS,Central door lock,Central door lock with r...",7.0,5.6,141.0,129.0,Cloth,1.8,2.0
2,Audi A1,Sedans,14640.0,VAT deductible,83450.0,1.0,Used,Black,4.0,Automatic,...,"MP3,On-board computer","Alloy wheels,Voice Control","ABS,Central door lock,Daytime running lights,D...",6.0,3.8,85.0,99.0,Cloth,1.6,3.0
3,Audi A1,Sedans,14500.0,No_Discount,73000.0,1.0,Used,Brown,4.0,Automatic,...,"Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport seats,Voice Control","ABS,Alarm system,Central door lock with remote...",6.0,3.8,66.0,99.0,Unknown,1.4,3.0
4,Audi A1,Sedans,16790.0,No_Discount,16200.0,1.0,Used,Black,5.0,Automatic,...,"Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport package,Sport suspension,Vo...","ABS,Central door lock,Driver-side airbag,Elect...",5.0,4.1,66.0,109.0,Cloth,1.4,3.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14371 entries, 0 to 15918
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Model                14371 non-null  object
 1   Body_Type            14371 non-null  object
 2   Price                14371 non-null  float64
 3   Vat                  14371 non-null  object
 4   Km                   14371 non-null  float64
 5   Prev_Owner           14371 non-null  float64
 6   Type                 14371 non-null  object
 7   Body_Color           14371 non-null  object
 8   Seat_Total           14371 non-null  float64
 9   Gear_Type            14371 non-null  object
 10  Cylinders            14371 non-null  float64
 11  Weight               14371 non-null  float64
 12  Drive_Chain          14371 non-null  object
 13  Fuel                 14371 non-null  object
 14  Emission_Class       14371 non-null  object
 15  Comfort_Convenience  14371 non-null  object
 16  Entertainment_Media  14371 non-null  object
 17  Extras               14371 non-null  object
 18  Safety_Security      14371 non-null  object
 19  Gears                14371 non-null  float64
 20  Consumption          14371 non-null  float64
 21  Hp                   14371 non-null  float64
 22  Emission             14371 non-null  float64
 23  Upholstery_Type      14371 non-null  object
 24  Engine_Size          14371 non-null  float64
 25  Age                  14371 non-null  float64
dtypes: float64(12), object(14)
memory usage: 3.0+ MB

In [4]:
def create_server_connection(driver, server, database, user, password):
    conn = None
    try: 
        conn = pyodbc.connect(DRIVER = driver, SERVER= server, DATABASE = database, UID= user, PWD= password)
        print("Successfull")
    except Error as err:
        print(f"Error:'{err}'")
    return conn

In [5]:
driver = '{ODBC Driver 17 for SQL Server}'
server = 'localhost'
database = 'master'
user = 'sa'
password = 'Deneme01'
conn = create_server_connection(driver, server, database, user, password)

Successfull

In [6]:
crs = conn.cursor()
conn.autocommit = True

In [7]:
create_database_query = 'CREATE DATABASE AutoScout'

In [8]:
def create_database(conn, create_database_query): #parametreler: connection nesnesi ve query nesnesi
    crs = conn.cursor() #bir cursor nesnesi oluşturuyoruz. bunu query sonucundaki değerleri yakalamak için kullanacağız.
    try:
        crs.execute(create_database_query)#query'yi çalıştır sonucu yakala. queryleri excecute ile çalıştırıyoruz
        print("Database is Created Successfuly")
    except Error as err:
            print(f"Error:'{err}'")

In [9]:
create_database (conn, create_database_query)

Database is Created Successfuly

In [10]:
df.columns

Index(['Model', 'Body_Type', 'Price', 'Vat', 'Km', 'Prev_Owner', 'Type',
       'Body_Color', 'Seat_Total', 'Gear_Type', 'Cylinders', 'Weight',
       'Drive_Chain', 'Fuel', 'Emission_Class', 'Comfort_Convenience',
       'Entertainment_Media', 'Extras', 'Safety_Security', 'Gears',
       'Consumption', 'Hp', 'Emission', 'Upholstery_Type', 'Engine_Size',
       'Age'],
      dtype='object')

In [11]:
df.select_dtypes(np.number).columns

Index(['Price', 'Km', 'Prev_Owner', 'Seat_Total', 'Cylinders', 'Weight',
       'Gears', 'Consumption', 'Hp', 'Emission', 'Engine_Size', 'Age'],
      dtype='object')

In [12]:
df[['Price', 'Km', 'Prev_Owner', 'Seat_Total', 'Cylinders', 'Weight', 'Gears', 'Age']] = df[['Price', 
    'Km', 'Prev_Owner', 'Seat_Total', 'Cylinders', 'Weight','Gears', 'Age']].astype(int)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14371 entries, 0 to 15918
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Model                14371 non-null  object
 1   Body_Type            14371 non-null  object
 2   Price                14371 non-null  int32
 3   Vat                  14371 non-null  object
 4   Km                   14371 non-null  int32
 5   Prev_Owner           14371 non-null  int32
 6   Type                 14371 non-null  object
 7   Body_Color           14371 non-null  object
 8   Seat_Total           14371 non-null  int32
 9   Gear_Type            14371 non-null  object
 10  Cylinders            14371 non-null  int32
 11  Weight               14371 non-null  int32
 12  Drive_Chain          14371 non-null  object
 13  Fuel                 14371 non-null  object
 14  Emission_Class       14371 non-null  object
 15  Comfort_Convenience  14371 non-null  object
 16  Entertainment_Media  14371 non-null  object
 17  Extras               14371 non-null  object
 18  Safety_Security      14371 non-null  object
 19  Gears                14371 non-null  int32
 20  Consumption          14371 non-null  float64
 21  Hp                   14371 non-null  float64
 22  Emission             14371 non-null  float64
 23  Upholstery_Type      14371 non-null  object
 24  Engine_Size          14371 non-null  float64
 25  Age                  14371 non-null  int32
dtypes: float64(4), int32(8), object(14)
memory usage: 2.5+ MB

In [44]:
df.drop(columns=["Comfort_Convenience","Entertainment_Media","Extras","Safety_Security"], inplace=True)

In [45]:
crs.execute("USE AutoScout")
crs.execute("""CREATE TABLE Cars(
Model NVARCHAR(20),
Body_Type NVARCHAR(20),
Price INT,
Vat NVARCHAR(20),
Km INT,
Prev_Owner INT,
Type NVARCHAR(15),
Body_Color NVARCHAR(15),
Seat_Total TINYINT,
Gear_Type NVARCHAR(15),
Cylinders TINYINT,
Weight INT,
Drive_Chain NVARCHAR(15),
Fuel NVARCHAR(15),
Emission_Class NVARCHAR(10),
Gears TINYINT,
Consumption NUMERIC,
Hp NUMERIC,
Emission NUMERIC,
Upholstery_Type NVARCHAR(20),
Engine_Size NUMERIC,
Age TINYINT,

)""")

In [46]:
sql = 'INSERT Cars VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)'

In [47]:
for index, row in df.iterrows():
    crs.execute(sql, (row["Model"], row["Body_Type"], row['Price'], row['Vat'], row['Km'], row['Prev_Owner'],
                     row["Type"],row["Body_Color"],row["Seat_Total"],row["Gear_Type"],row["Cylinders"],
                     row["Weight"],row["Drive_Chain"],row["Fuel"],row["Emission_Class"],row["Gears"],row["Consumption"],row["Hp"],row["Emission"],
                     row["Upholstery_Type"],row["Engine_Size"],row["Age"]))